**/.classpath
**/.dockerignore
**/.env*
**/.git
**/.gitattributes
**/.gitignore
**/.vscode
**/*.cache
**/docker-compose*
**/compose.y*ml
!**/composer.json
!**/composer.lock
**/Dockerfile*
**/node_modules
**/*.log
LICENSE*
README*

# project-specific
.editorconfig
.styleci.yml
scripts/
tests/
vendor/

storage/app/
storage/framework/
storage/logs/

phpunit.xml
vite.config.js
