# AWS
**/aws/

# Development
**/Dockerfile*
**/.dockerignore
**/tests/
**/logs/
**/*.log
**/.env*
LICENSE*
README*
**/test_routes.py

# Virtual Environments
**/.env/
**/.venv/

# Cache
**/__pycache__/
**/.pytest*/
**/*.cache